{% extends "base.html" %}

{% block content %}
<h1>Add a new Post </h1>
<form method = "POST" action="">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tilte</label>
      <input type="text" class="form-control" id="title">
      
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea type="content"  id="content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}