{% extends "base.html" %}
{% block content %}

    <h1>Posts</h1>
    <a href="{% url 'post_add' %}" class="btn btn-info">Add new Post

    </a>
        {% for post in posts %}   
            <article>
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>
                <p>
                    <a href="{% url 'post_details' pk=post.id %}">View Details</a>
                </p>
                
            </article>
        {% endfor %} 
        
{% endblock content %}